<br />
<div class="container" id="main-container">
  <!-- Button trigger modal -->
  <button type="button" id="modalbutton" class="btn btn-primary" (click)="onOpenModal(null!, 'add')" data-toggle="modal" data-target="addModal">
    Thêm Khách Hàng
  </button>
  <button type="button" id="excelbutton" class="btn btn-primary" (click)="printReport()">
    Xuất Excel
  </button>
  <button type="button" id="excelbutton" class="btn btn-primary" (click)="print()">
    In file
  </button>

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm Khách Hàng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddKhachHang(addForm)" ngNativeValidate>
            <div class="form-group">
              <label for="ho_ten">Họ Tên</label>
              <div class="input-group">
                <input type="text" name="ho_ten" id="ho_ten" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="cccd">CCCD</label>
              <div class="input-group">
                <input type="number" id="cccd" name="cccd" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="quoc_tich">Quốc Tịch</label>
              <div class="input-group">
                <input type="text" id="quoc_tich" name="quoc_tich" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="sdt">Số điện thoại</label>
              <div class="input-group">
                <input type="number" id="sdt" name="sdt" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="gioi_tinh">Giới Tính</label>
              <div class="input-group">
                <select name="gioi_tinh" class="form-select" id="select" required ngModel>
                  <option selected disabled value="">Chọn</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="ngay_sinh">Ngày Sinh</label>
              <div class="input-group">
                <input type="date" id="ngay_sinh" name="ngay_sinh" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <input type="email" id="email" name="email" class="form-control" required ngModel>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sửa Khách Hàng {{editKhachHang?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" ngNativeValidate>
            <input type="hidden" name="id" id="id" class="form-control" ngModel = "{{editKhachHang?.id}}">

            <div class="form-group">
              <label for="ho_ten">Họ Tên</label>
              <div class="input-group">
                <input type="text" name="ho_ten" id="ho_ten" class="form-control" required ngModel = "{{editKhachHang?.ho_ten}}">
              </div>
            </div>

            <div class="form-group">
              <label for="cccd">CCCD</label>
              <div class="input-group">
                <input type="number" id="cccd" name="cccd" class="form-control" required ngModel = "{{editKhachHang?.cccd}}">
              </div>
            </div>

            <div class="form-group">
              <label for="quoc_tich">Quốc Tịch</label>
              <div class="input-group">
                <input type="text" id="quoc_tich" name="quoc_tich" class="form-control" required ngModel = "{{editKhachHang?.quoc_tich}}">
              </div>
            </div>

            <div class="form-group">
              <label for="sdt">Số điện thoại</label>
              <div class="input-group">
                <input type="number" id="sdt" name="sdt" class="form-control" required ngModel = "{{editKhachHang?.sdt}}">
              </div>
            </div>

            <div class="form-group">
              <label for="gioi_tinh">Giới Tính</label>
              <div class="input-group">
                <select name="gioi_tinh" class="form-select" id="select" required ngModel = "{{editKhachHang?.gioi_tinh}}">
                  <option selected disabled value="">Chọn</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="ngay_sinh">Ngày Sinh</label>
              <div class="input-group">
                <input type="date" id="ngay_sinh" name="ngay_sinh" class="form-control" required ngModel = "{{editKhachHang?.ngay_sinh}}">
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <input type="email" id="email" name="email" class="form-control" required ngModel = "{{editKhachHang?.email}}">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-kh" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="onUpdateKhachHang(editForm.value)" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chi tiết Khách Hàng {{detailKhachHang?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #detailForm="ngForm" ngNativeValidate>
            <div class="form-group">
              <label for="id">Id</label>
              <div class="input-group">
                <input disabled type="text" name="id" id="id" class="form-control" ngModel = "{{detailKhachHang?.id}}">
              </div>
            </div>
            

            <div class="form-group">
              <label for="ho_ten">Họ Tên</label>
              <div class="input-group">
                <input disabled type="text" name="ho_ten" id="ho_ten" class="form-control" required ngModel = "{{detailKhachHang?.ho_ten}}">
              </div>
            </div>

            <div class="form-group">
              <label for="cccd">CCCD</label>
              <div class="input-group">
                <input disabled type="number" id="cccd" name="cccd" class="form-control" required ngModel = "{{detailKhachHang?.cccd}}">
              </div>
            </div>

            <div class="form-group">
              <label for="quoc_tich">Quốc Tịch</label>
              <div class="input-group">
                <input disabled type="text" id="quoc_tich" name="quoc_tich" class="form-control" required ngModel = "{{detailKhachHang?.quoc_tich}}">
              </div>
            </div>

            <div class="form-group">
              <label for="sdt">Số điện thoại</label>
              <div class="input-group">
                <input disabled type="number" id="sdt" name="sdt" class="form-control" required ngModel = "{{detailKhachHang?.sdt}}">
              </div>
            </div>

            <div class="form-group">
              <label for="gioi_tinh">Giới Tính</label>
              <div class="input-group">
                <select disabled name="gioi_tinh" class="form-select" id="select" required ngModel = "{{detailKhachHang?.gioi_tinh}}">
                  <option selected disabled value="">Chọn</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="ngay_sinh">Ngày Sinh</label>
              <div class="input-group">
                <input disabled type="date" id="ngay_sinh" name="ngay_sinh" class="form-control" required ngModel = "{{detailKhachHang?.ngay_sinh}}">
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <input disabled type="email" id="email" name="email" class="form-control" required ngModel = "{{detailKhachHang?.email}}">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa Khách Hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa khách hàng {{deleteKhachHang?.id}} không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="delete-close" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button (click)="onDeleteKhachHang(deleteKhachHang.id)" type="button" class="btn btn-primary">Có</button>
      </div>
    </div>
  </div>
</div>
  
  <table id="datatable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Họ Tên</th>
        <th>Quốc tịch</th>
        <th>Số điện thoại</th>
        <th>Giới Tính</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let khachHang of khachHangs">
        <td>{{khachHang.id}}</td>
        <td>{{khachHang.ho_ten}}</td>
        <td>{{khachHang.quoc_tich}}</td>
        <td>{{khachHang.sdt}}</td>
        <td>{{khachHang.gioi_tinh}}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="onOpenModal(khachHang, 'detail')">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning" (click)="onOpenModal(khachHang, 'edit')">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger" (click)="onOpenModal(khachHang, 'delete')">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


