<br />
<div class="container" id="main-container">
  <!-- Button trigger modal -->
  <button type="button" id="modalbutton" class="btn btn-primary" (click)="onOpenModal(null!, 'add')" data-toggle="modal" data-target="addModal">
    Thêm Phiếu Kiểm Tra
  </button>
  <button type="button" id="excelbutton" class="btn btn-primary" (click)="printReport()">
    Xuất Excel
  </button>
  <button type="button" id="excelbutton" class="btn btn-primary" (click)="print()">
    In file
  </button>
  
  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm Phiếu Kiểm Tra</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPhieuKT(addForm)">
            <div class="form-group">
              <label for="id_nv">Nhân viên</label>
              <div class="input-group">
                <select name="id_nv" class="form-select" id="id_nv" required ngModel>
                  <option selected disabled value="">Chọn</option>
                    <option *ngFor="let nhanVien of nhanViens" value="{{nhanVien.id}}">{{nhanVien.id}}-{{nhanVien.ten_nv}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
                <label for="id_pdp">Phiếu Đặt Phòng</label>
                <div class="input-group">
                  <select name="id_pdp" class="form-select" id="id_pdp" required ngModel>
                    <option selected disabled value="">Chọn</option>
                      <option *ngFor="let phieuDat of phieuDats" value="{{phieuDat.id}}">{{phieuDat.id}}</option>
                  </select>
                </div>
            </div>

            <div class="form-group">
              <label for="ngay_lap">Ngày Lập</label>
              <div class="input-group">
                <input type="datetime-local" name="ngay_lap" id="ngay_lap" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="tinh_trang">Tình Trạng</label>
              <div class="input-group">
                <input type="text" id="tinh_trang" name="tinh_trang" class="form-control" required ngModel>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sửa Phiếu Kiểm Tra {{editPhieuKT?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <input type="hidden" name="id" id="id" class="form-control" ngModel = "{{editPhieuKT?.id}}">

            <div class="form-group">
                <label for="id_nv">Nhân viên</label>
                <div class="input-group">
                  <select name="id_nv" class="form-select" id="id_nv" required ngModel = "{{editPhieuKT?.id_nv}}">
                    <option selected disabled value="">Chọn</option>
                      <option *ngFor="let nhanVien of nhanViens" value="{{nhanVien.id}}">{{nhanVien.id}}-{{nhanVien.ten_nv}}</option>
                  </select>
                </div>
              </div>
  
              <div class="form-group">
                  <label for="id_pdp">Phiếu Đặt Phòng</label>
                  <div class="input-group">
                    <select name="id_pdp" class="form-select" id="id_pdp" required ngModel = "{{editPhieuKT?.id_pdp}}">
                      <option selected disabled value="">Chọn</option>
                        <option *ngFor="let phieuDat of phieuDats" value="{{phieuDat.id}}">{{phieuDat.id}}</option>
                    </select>
                  </div>
                </div>
  
              <div class="form-group">
                <label for="ngay_lap">Ngày Lập</label>
                <div class="input-group">
                  <input type="datetime-local" name="ngay_lap" id="ngay_lap" class="form-control" required ngModel = "{{editPhieuKT?.ngay_lap}}">
                </div>
              </div>
  
              <div class="form-group">
                <label for="tinh_trang">Tình Trạng</label>
                <div class="input-group">
                  <input type="text" id="tinh_trang" name="tinh_trang" class="form-control" required ngModel = "{{editPhieuKT?.tinh_trang}}">
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" id="add-phong" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="onUpdatePhieuKT(editForm.value)" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xem chi tiết Phiếu Kiểm Tra {{detailPhieuKT?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="id">Id</label>
              <div class="input-group">
                <input disabled type="text" name="id" id="id" class="form-control" ngModel = "{{detailPhieuKT?.id}}">
              </div>
            </div>
            

            <div class="form-group">
                <label for="id_nv">Nhân viên</label>
                <div class="input-group">
                  <select disabled name="id_nv" class="form-select" id="id_nv" required ngModel = "{{detailPhieuKT?.id_nv}}">
                    <option selected disabled value="">Chọn</option>
                      <option *ngFor="let nhanVien of nhanViens" value="{{nhanVien.id}}">{{nhanVien.id}}-{{nhanVien.ten_nv}}</option>
                  </select>
                </div>
              </div>
  
              <div class="form-group">
                  <label for="id_pdp">Phiếu Đặt Phòng</label>
                  <div class="input-group">
                    <select disabled name="id_pdp" class="form-select" id="id_pdp" required ngModel = "{{detailPhieuKT?.id_pdp}}">
                      <option selected disabled value="">Chọn</option>
                        <option *ngFor="let phieuDat of phieuDats" value="{{phieuDat.id}}">{{phieuDat.id}}</option>
                    </select>
                  </div>
                </div>
  
              <div class="form-group">
                <label for="ngay_lap">Ngày Lập</label>
                <div class="input-group">
                  <input disabled type="datetime-local" name="ngay_lap" id="ngay_lap" class="form-control" required ngModel = "{{detailPhieuKT?.ngay_lap}}">
                </div>
              </div>
  
              <div class="form-group">
                <label for="tinh_trang">Tình Trạng</label>
                <div class="input-group">
                  <input disabled type="text" id="tinh_trang" name="tinh_trang" class="form-control" required ngModel = "{{detailPhieuKT?.tinh_trang}}">
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa Phiếu Kiểm Tra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa phiếu kiểm tra {{deletePhieuKT?.id}} không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="delete-close" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button (click)="onDeletePhieuKT(deletePhieuKT.id)" type="button" class="btn btn-primary">Có</button>
      </div>
    </div>
  </div>
</div>
  
  <table id="datatable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nhân Viên</th>
        <th>Phiếu Đặt Phòng</th>
        <th>Ngày Lập</th>
        <th>Tình Trạng</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let phieuKT of phieuKTs">
        <td>{{phieuKT.id}}</td>
        <td>{{phieuKT.ten_nv}}</td>
        <td>{{phieuKT.id_pdp}}</td>
        <td>{{phieuKT.ngay_lap}}</td>
        <td>{{phieuKT.tinh_trang}}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="onOpenModal(phieuKT, 'detail')">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning" (click)="onOpenModal(phieuKT, 'edit')">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger" (click)="onOpenModal(phieuKT, 'delete')">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


