<br />
<div class="container" id="main-container">
  <!-- Button trigger modal -->
  <button type="button" id="modalbutton" class="btn btn-primary" (click)="onOpenModal(null!, 'add')" data-toggle="modal" data-target="addModal">
    Thêm Hóa Đơn
  </button>
  <button type="button" id="excelbutton" class="btn btn-primary" (click)="printReport()">
    Xuất Excel
  </button>
  <button type="button" id="excelbutton" class="btn btn-primary" (click)="print()">
    In file
  </button>

  <!-- Add Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm Hóa Đơn</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddHoaDon(addForm)">
            <div class="form-group">
              <label for="id_nv">Nhân viên</label>
              <div class="input-group">
                <select name="id_nv" class="form-select" id="id_nv" required ngModel>
                  <option selected disabled value="">Chọn</option>
                    <option *ngFor="let nhanVien of nhanViens" value="{{nhanVien.id}}">{{nhanVien.id}}-{{nhanVien.ten_nv}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
                <label for="id_ltt">Loại Thanh Toán</label>
                <div class="input-group">
                  <select name="id_ltt" class="form-select" id="id_ltt" required ngModel>
                    <option selected disabled value="">Chọn</option>
                      <option *ngFor="let loaitt of loaitts" value="{{loaitt.id}}">{{loaitt.ten_ltt}}</option>
                  </select>
                </div>
              </div>

            <div class="form-group">
              <label for="ngay_lap">Ngày lập</label>
              <div class="input-group">
                <input type="datetime-local" name="ngay_lap" id="ngay_lap" class="form-control" required ngModel>
              </div>
            </div>

            <div class="form-group">
              <label for="tong_tien">Tổng tiền</label>
              <div class="input-group">
                <input disabled type="number" id="tong_tien" name="tong_tien" class="form-control" value=0 required ngModel = 0>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sửa Hóa Đơn {{editHoaDon?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <input type="hidden" name="id" id="id" class="form-control" ngModel = "{{editHoaDon?.id}}">

            <div class="form-group">
                <label for="id_nv">Nhân viên</label>
                <div class="input-group">
                  <select name="id_nv" class="form-select" id="id_nv" required ngModel = "{{editHoaDon?.id_nv}}">
                    <option selected disabled value="">Chọn</option>
                      <option *ngFor="let nhanVien of nhanViens" value="{{nhanVien.id}}">{{nhanVien.id}}-{{nhanVien.ten_nv}}</option>
                  </select>
                </div>
              </div>
  
              <div class="form-group">
                  <label for="id_ltt">Loại Thanh Toán</label>
                  <div class="input-group">
                    <select name="id_ltt" class="form-select" id="id_ltt" required ngModel = "{{editHoaDon?.id_ltt}}">
                      <option selected disabled value="">Chọn</option>
                        <option *ngFor="let loaitt of loaitts" value="{{loaitt.id}}">{{loaitt.ten_ltt}}</option>
                    </select>
                  </div>
                </div>
  
              <div class="form-group">
                <label for="ngay_lap">Ngày lập</label>
                <div class="input-group">
                  <input type="datetime-local" name="ngay_lap" id="ngay_lap" class="form-control" required ngModel = "{{editHoaDon?.ngay_lap}}">
                </div>
              </div>
  
              <div class="form-group">
                <label for="tong_tien">Tổng tiền</label>
                <div class="input-group">
                  <input disabled type="number" id="tong_tien" name="tong_tien" class="form-control" required ngModel = "{{editHoaDon?.tong_tien}}">
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" id="add-phong" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="onUpdateHoaDon(editForm.value)" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail Modal -->
  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chi tiết Hóa Đơn {{detailHoaDon?.id}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">

            <div class="form-group">
              <label for="id">Id</label>
              <div class="input-group">
                <input disabled type="text" name="id" id="id" class="form-control" ngModel = "{{detailHoaDon?.id}}">
              </div>
            </div>

            <div class="form-group">
                <label for="id_nv">Nhân viên</label>
                <div class="input-group">
                  <select disabled name="id_nv" class="form-select" id="id_nv" required ngModel = "{{detailHoaDon?.id_nv}}">
                    <option selected disabled value="">Chọn</option>
                      <option *ngFor="let nhanVien of nhanViens" value="{{nhanVien.id}}">{{nhanVien.id}}-{{nhanVien.ten_nv}}</option>
                  </select>
                </div>
              </div>
  
              <div class="form-group">
                  <label for="id_ltt">Loại Thanh Toán</label>
                  <div class="input-group">
                    <select disabled name="id_ltt" class="form-select" id="id_ltt" required ngModel = "{{detailHoaDon?.id_ltt}}">
                      <option selected disabled value="">Chọn</option>
                        <option *ngFor="let loaitt of loaitts" value="{{loaitt.id}}">{{loaitt.ten_ltt}}</option>
                    </select>
                  </div>
                </div>
  
              <div class="form-group">
                <label for="ngay_lap">Ngày lập</label>
                <div class="input-group">
                  <input disabled type="datetime-local" name="ngay_lap" id="ngay_lap" class="form-control" required ngModel = "{{detailHoaDon?.ngay_lap}}">
                </div>
              </div>
  
              <div class="form-group">
                <label for="tong_tien">Tổng tiền</label>
                <div class="input-group">
                  <input disabled type="number" id="tong_tien" name="tong_tien" class="form-control" required ngModel = "{{detailHoaDon?.tong_tien}}">
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa Hóa Đơn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa hóa đơn {{deleteHoaDon?.id}} không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="delete-close" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button (click)="onDeleteHoaDon(deleteHoaDon.id)" type="button" class="btn btn-primary">Có</button>
      </div>
    </div>
  </div>
</div>
  
  <table id="datatable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nhân Viên</th>
        <th>Loại Thanh Toán</th>
        <th>Ngày Lập</th>
        <th>Tổng Tiền</th>
        <th>Hành Động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hoaDon of hoaDons">
        <td>{{hoaDon.id}}</td>
        <td>{{hoaDon.ten_nv}}</td>
        <td>{{hoaDon.ten_ltt}}</td>
        <td>{{hoaDon.ngay_lap}}</td>
        <td>{{hoaDon.tong_tien}}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="onOpenModal(hoaDon, 'detail')">
            <i class="fa fa-search"></i>Details</button>
          <button class="btn btn-sm btn-warning" (click)="onOpenModal(hoaDon, 'edit')">
            <i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-sm btn-danger" (click)="onOpenModal(hoaDon, 'delete')">
            <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


